torch==2.2.2
torchaudio==2.2.2
datasets==2.21.0
transformers==4.38.2
fasttext
nemo_toolkit[asr]
openai-whisper==20240930
lightning==2.4.0
torchinfo==1.8.0
great_expectations==0.18.17
fastapi==0.115.4
soundfile
evidently
git+https://github.com/Neclow/speechbrain.git
wandb
soundfile
numpy<2.0
scipy==1.12.0
matplotlib
seaborn
ipykernel
ipywidgets
soundfile
evidently
